* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
}

.hero {
  height: 100vh;
  width: 100%;
  background: var(--primary-color);
  font-family: sans-serif;
  position: relative;
}

nav {
  width: 100%;
  margin: auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

nav ul li a:hover {
  color: #ff4321;
  font-size: 20px;
}

.info {
  margin-left: 8%;
  margin-top: 12%;
}

.info h1 {
  font-size: 70px;
  color: var(--secondary-color);
  margin-bottom: 20px;
}

.info p {
  color: var(--secondary-color);
  line-height: 22px;
}

.info .cv {
  background: var(--secondary-color);
  padding: 10px 18px;
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}

span {
  color: #ff4321;
}

.img-box {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.img-box img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transition: bottom 1s, left 1s;
  -webkit-transition: bottom 1s, left 1s;
  -moz-transition: bottom 1s, left 1s;
  -ms-transition: bottom 1s, left 1s;
  -o-transition: bottom 1s, left 1s;
}

.img-box:hover .back-img {
  bottom: 40px;
}

.img-box:hover .main-img {
  left: 54%;
}

.icon {
  font-size: 30px;
  color: var(--secondary-color);
  margin-right: 20px;
}

.icon:hover {
  font-size: 40px;
  color: #ff4321;
}

#icon {
  width: 30px;
  cursor: pointer;
}
